@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgb(15, 31, 28, 0.5);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  color: #333333;
}

.show {
  animation: 2s hidee forwards;
  display: inline-flex !important;
}

.feed_show {
  animation: 2s feed_show forwards;
  display: inline-flex !important;
}

.feed_hide {
  animation: 2s feed_hide forwards;
}

@keyframes hidee {
  100% {
    opacity: 1;
  }
  0% {
    transform: translate(-100px);
    opacity: 0;
  }
}

@keyframes feed_show {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-count {
  position: relative;
  max-width: 1000px;
  padding: 0 var(--container-padding);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  top: -30px;
}

.block {
  height: 200px;
  background-color: darkseagreen;
}

.header {
  min-height: 750px;
  background-image: url(./../image/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 44px;
}

.header__top {
  margin-bottom: 86px;
}

.header__content {
  max-width: 592px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  color: #0f1f1c;
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  column-gap: 80px;
}

.nav__list a {
  position: relative;
}

.nav__list a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -6px;
  display: block;
  /* width: 50px; */
  height: 4px;
  border-radius: 50px;
  background-color: #fed700;
}

a {
  color: #0f1f1c;
  /* text-decoration: none; */
}

.nav__tel {
  position: relative;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  column-gap: 25px;
}

.nav__tel::before {
  position: absolute;
  content: '';
  background-image: url('/image/phone-nav.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-size: 23px 23px;
  left: -30px;
  top: 0;
}

.header__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 35px;
}

.button-price {
  display: inline-block;
  width: 250px;
  padding: 27px 48px;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(129.54deg, #fed700 15.57%, #e4c200 95.03%);
  border-radius: 12px;
  cursor: pointer;
}

.button-price:active {
  background: linear-gradient(129.54deg, #fec300 15.57%, #e4af00 95.03%);
}

.hidden {
  display: none;
}

.list-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3e3e3e;
}

/* New CSS */

.tabs {
  /* transform: translate(0%, 0%); */
  position: relative;
  width: 1240px;
  height: 500px;
  margin: 40px 0 40px 0;
  padding: 30px 20px;
  background: #f5f5f5;
  box-shadow: 0 0 10px #00000030;
  overflow: hidden;
  border-radius: 12px;
}
.tabs .tab-header {
  float: left;
  width: 240px;
  height: 100%;
  border-right: 1px solid #ccc;
  padding: 50px 0px;
}
.tabs .tab-header > div {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  padding-left: 10px;
}
.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
  color: #333333;
}
.tabs .tab-header div i {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}
.tabs .tab-content {
  position: relative;
  /* height: 100%;
  overflow: hidden; */
  display: flex;
  align-items: start;
  column-gap: 100px;
  margin-bottom: 20px;
}
.tabs .tab-content > div > i {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #555;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}
.tabs .tab-content > div {
  position: absolute;
  text-align: center;
  padding: 40px 20px;
  top: -200%;
  transition: all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
  top: 0px;
}

.tab-indicator {
  position: absolute;
  width: 5px;
  height: 50px;
  background: #fed700;
  left: 257px;
  top: 80px;
  transition: all 500ms ease-in-out;
}

/* .tab-content {
  display: flex;
  align-items: start;
  column-gap: 100px;
  margin-bottom: 20px;
} */

.shtaket-img {
  padding-left: 30px;
}

.title-group {
  display: flex;
  align-items: start;
  column-gap: 50px;
  margin-bottom: 20px;
}

.title-content {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.content-hidden {
  display: none;
}

.hidden {
  display: none;
}

.title-group__item {
  text-align: left;
}

.title-text {
  padding-bottom: 10px;
  line-height: 22px;
}

.container-block {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  font-size: 16px;
  padding-right: 70px;
  border-right: 1px solid #c0c0c0;
}

.container-block:last-child {
  border-right: 0;
}

i {
  color: #333333;
  font-size: 2em;
  text-align: center;
}
span.num {
  color: #333333;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.text {
  color: #333333;
  font-size: 14px;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

.title-section {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.advantage-content {
  padding-bottom: 20px;
}

.advantage-title {
  display: flex;
  justify-content: center;
}

.advantage-block {
  width: 1240px;
  display: flex;
  column-gap: 40px;
  padding-top: 30px;
}

.advantage-block__left-side {
  display: flex;
  flex-direction: column;

  padding: 8px 8px 8px 16px;
  width: 400px;
}

.advantage-block__right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 8px 8px 16px;
  width: 870px;
}

.advantage-block__right-side img {
  padding-left: 100px;
  padding-bottom: 20px;
  width: 650px;
}

#advantages .container .advantage-block .advantage-block__left-side .advantage-block__item img {
  width: 60px;
  padding-right: 20px;
  fill: #333333;
}

.advantage-block__item {
  display: flex;
  padding-bottom: 50px;
}

.advantage-block__title {
  width: 350px;
}

.advantage-block__title p {
  padding-top: 10px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

.description {
  padding: 20px;
  box-shadow: 0 0 10px #00000030;
  width: 800px;
  border-radius: 12px;
}

.description__button-info {
  display: flex;
  margin: 25px auto 10px auto;
  text-align: center;
  width: 305px;
}

.description p {
  text-align: center;
}

.calculator__form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  text-align: center;
  width: 260px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.calculator__form-title p {
  /* border-top: 1px solid #c0c0c0; */
  padding-top: 10px;
}

.calculator__form-title p:last-child {
  border-top: 0;
}

.calculator__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1270px;
  padding: 20px;
  box-shadow: 0 0 10px #00000030;
  border-radius: 12px;
  /* margin-bottom: 40px; */
  margin: 0 auto 40px;
  background-image: url(./../image/calc-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator__form-button {
  width: 289px;
}

/* Slider from style.css */

#ourproducts .ourproducts__box {
  width: 1280px;
  margin: auto;
}
#ourproducts .ourproducts__box .box_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin: 0 0 50px 0;
}
#ourproducts .ourproducts__box .box_cards h2 {
  margin: 40px 0 40px 0;
}
#ourproducts .ourproducts__box .box_cards .ourproducts_switcher {
  display: flex;
}
#ourproducts .ourproducts__box .box_cards .ourproducts_switcher .chosed {
  /* width: 30px; */
  border-radius: 5px;
  background: #fed700;
}
#ourproducts .ourproducts__box .box_cards .ourproducts_switcher span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
#ourproducts .ourproducts__box .box_cards .boxes {
  display: none;
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000030;
  flex-direction: row;
  color: #2c2b2b;
  align-items: center;
  width: 880px;
}
#ourproducts .ourproducts__box .box_cards .boxes img {
  width: 400px;
  height: 300px;
  border-radius: 10px 0 0 20px;
  /* padding: 0 0 0 50px; */
}
#ourproducts .ourproducts__box .box_cards .boxes .cards_discription h3 {
  font-size: 1.6em;
}
#ourproducts .ourproducts__box .box_cards .boxes .cards_discription p {
  line-height: 2.2em;
}

#ourproducts .ourproducts__box .box_cards .boxes {
  padding: 0 !important;
  justify-content: space-between;
}

.cards_img {
  height: 100%;
}

.goodidiea-title > p {
  text-align: center;
}
.goodidiea-title > h2 {
  text-align: center;
}

.rating-stars {
  height: 100% !important;
}
#ourproducts .ourproducts__box .box_cards .boxes img {
  max-width: 400px;
  height: 100%;
  padding: 0;
}

.feedbackSlider {
  display: flex;
  gap: 20px;
}

.feedbackSlider-raitingImage {
  display: flex;
  gap: 5px;
}

.feedbackSlider-raiting {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedbackSlider-info {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 20px;
}

/* Footer */

footer {
  background: #000;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer__section {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__section .items__logo img {
  width: 200px;
}
footer .footer__section .items__phone {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
footer .footer__section .items__cond {
  display: flex;
  flex-direction: column;
  flex-grow: 0.2;
}
footer .footer__section a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.items__social {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
